@font-face {
    font-family: 'PP Editorial New';
    src: url('PPEditorialNew-UltralightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

body {
    background-color: white;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 0;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 0;
}

p {
    font-size: 12px;
    line-height: 0;
}

.overlay{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    mix-blend-mode: multiply;
    z-index: 5;
    position: fixed;
    pointer-events: none;
}

.bgText {
    position: absolute;
    top: 15vh;
    align-self: center;
    z-index: 5;
    font-family: PP Editorial New;
    color: #E9E9E9;
    font-size: 160px;
    mix-blend-mode: multiply;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.body{
    display: flex;
    flex-direction: column;
    padding: 80px; 
    font-family: sans-serif; 
}

.pens{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: fixed;
    padding: 40px 80px 40px 80px;
    right: 0px;
    top: 0px;
    justify-content: right;

    /* background-color: aqua; */
}

.navtext{
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.penImg{
    height: 70vh;
    object-fit: contain;
    
}

.penParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #B0B0B0;
}

.penIndividual{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
    /* background-color: white; */
}

.penIndividualDesc{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    height: 60vh;
}

.descTop{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.favorite {
    width: fit-content;
    background: none;
    background-color: none;
    border: none;
}

.hflex {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.tag {
    padding: 4px 12px 4px 12px;
    background-color: none;
    border: 1px solid #B0B0B0;
    color: #B0B0B0;
    border-radius: 20px;
}

.actionButton{
    padding: 8px;
    width:fit-content;
    background: none;
    background-color: black;
    border: 1px solid black;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.actionButton:hover{
    color: black;
    background-color: lightgray;
}